In [58]:
import seaborn as sns
import sklearn as sk
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split #We need this to split the data

In [59]:
df = pd.read_csv('titanic.csv')
df = df[['Survived','Pclass', 'Age', 'SibSp', 'Sex', 'Parch']]
df = df.dropna() #first get rid of rows with empty cells
df.head()
df['Survived'].value_counts()

0    424
1    290
Name: Survived, dtype: int64

In [60]:
dummies = pd.get_dummies(df['Sex'])
dummies
df = pd.concat([df, dummies], axis=1) #the axis=1 means: add it to the columns (axis=0 is rows)
df.head()

   Survived  Pclass   Age  SibSp     Sex  Parch  female  male
0         0       3  22.0      1    male      0       0     1
1         1       1  38.0      1  female      0       1     0
2         1       3  26.0      0  female      0       1     0
3         1       1  35.0      1  female      0       1     0
4         0       3  35.0      0    male      0       0     1

In [64]:
from sklearn.preprocessing import normalize #get the function needed to normalize our data.

X = df[['Age', 'Pclass', 'SibSp', 'Parch', 'female']] #create the X matrix
#X = normalize(X) #normalize the matrix to put everything on the same scale

y = df['Survived'] #create the y-variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) #split the data, store it into different variables

X_train.head()

      Age  Pclass  SibSp  Parch  female
641  24.0       1      0      0       1
433  17.0       3      0      0       0
202  34.0       3      0      0       0
585  18.0       1      0      2       1
544  50.0       1      1      0       0

In [85]:
from sklearn.neighbors import KNeighborsClassifier #the object class we need

knn = KNeighborsClassifier(n_neighbors=60) #create a KNN-classifier with 5 neighbors (default)
knn = knn.fit(X_train, y_train) #this fits the k-nearest neigbor model with the train data
knn.score(X_test, y_test) #calculate the fit on the test data

0.6465116279069767

In [83]:
from sklearn.metrics import confusion_matrix
y_test_pred = knn.predict(X_test) #the predicted values
cm = confusion_matrix(y_test, y_test_pred) #creates a "confusion matrix"
cm

array([[117,  17],
       [ 31,  50]], dtype=int64)

In [70]:
y_test_pred.value_counts()

83

In [78]:
conf_matrix = pd.DataFrame(cm, index=['Not survived (actual)', 'Survived (actual)'], columns = ['Not survived (predicted)', 'Survived (predicted)']) 
conf_matrix

                       Not survived (predicted)  Survived (predicted)
Not survived (actual)                       111                    23
Survived (actual)                            21                    60

In [88]:
(111+60)/(111+23+21+60)

0.7953488372093023

In [77]:
60/(23+60)

0.7228915662650602

In [79]:
60/(21+60)

0.7407407407407407